@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply max-w-7xl px-8 mx-auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: -50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}
